<ul>
    <li>
        <div class="filter-choice">
            <label>Sort by:</label>
            <select>
                <option style="display:none" value="">Select order...</option>
                <option value="name">Name</option>
                <option value="type">Class</option>
            </select>
        </div>
        <div class="filter-choice">
            <label>Filter by:</label>
            <select ng-model="filterChoice">
                <option style="display:none" value="">Select filter...</option>
                <option value="name">Name</option>
                <option value="type">Class</option>
            </select>
        </div>
    </li>
</ul>